<ion-header>
  <ion-navbar>
    <ion-title>
      {{ auth.user?.displayName || 'User' }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Sign in to create your own organ arrangements and save your favorites.</p>

  <div *ngIf="!auth.isAuthenticated">
    <form [formGroup]="form" (ngSubmit)="signInWithEmail()">
      <ion-item>
        <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
      </ion-item>
      <button ion-button block type="submit" [disabled]="form.invalid">Login</button>
    </form>
    <div class="login-links">
      <div class="center-text">
        <a (click)="forgotPassword()">Forgot your password?</a>
      </div>
      <div class="center-text">
        <a (click)="register()">Create an account</a>
      </div>
    </div>

    <hr/>

    <button ion-button block icon-left class="facebook" (click)="signInWithFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
      Login with Facebook
    </button>
    <button ion-button block icon-left class="google" (click)="signInWithGoogle()">
      <img class="google-logo" src="assets/images/google/btn_google_light_normal_ios.svg" />
      Sign in with Google
    </button>
    <button ion-button block icon-left class="twitter" (click)="signInWithTwitter()">
      <ion-icon name="logo-twitter"></ion-icon>
      Login with Twitter
    </button>
  </div>
  <button ion-button block outline *ngIf="auth.isAuthenticated" (click)="signOut()">Logout</button>
</ion-content>