@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
}

page-user {
    .center-text {
        text-align: center;
    }

    .login-links > div {
        margin-top: 5px;
    }

    .facebook {
        background-color: #4267B2;
        font-weight: bold;
        font-size: 16px;

        padding-left: 20px;
        padding-right: 8px;

        ion-icon {
            font-size: 30px;
            margin-right: 26px;
        }

        .button-inner {
            justify-content: unset;
        }
    }

    .google {
        box-shadow: 1px 1px 3px #777777;

        background-color: #FFFFFF;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;

        padding-left: 8px;
        padding-right: 8px;

        .google-logo {
            margin-right: 24px;
        }

        .button-inner {
            justify-content: unset;
        }
    }

    .twitter {
        background-color: #1DA1F2;
        font-weight: bold;

        padding-left: 22px;
        padding-right: 8px;

        ion-icon {
            margin-right: 29px;
        }

        .button-inner {
            justify-content: unset;
        }
    }
}
