<ion-header>
  <ion-navbar>
    <ion-title>
      {{ displayName || 'User' }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block icon-left class="facebook" *ngIf="!displayName" (click)="signInWithFacebook()">
    <ion-icon name="logo-facebook"></ion-icon>
    Login with Facebook
  </button>
  <div class="google" *ngIf="!displayName" (click)="signInWithGoogle()">
    <!-- <ion-icon name="logo-google"></ion-icon> -->
    <img class="google-logo" src="assets/images/google/btn_google_light_normal_ios.svg" />
    <span>Sign in with Google</span>
  </div>
  <button ion-button block icon-left class="twitter" *ngIf="!displayName" (click)="signInWithTwitter()">
    <ion-icon name="logo-twitter"></ion-icon>
    Login with Twitter
  </button>
  <button ion-button block outline *ngIf="displayName" (click)="signOut()">Logout</button>
</ion-content>