<ion-header>
  <ion-navbar>
    <ion-title>
      {{ user?.displayName || 'User' }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Sign in to create your own organ arrangements and save your favorites.</p>

  <button ion-button block icon-left class="facebook" *ngIf="!user" (click)="signInWithFacebook()">
    <ion-icon name="logo-facebook"></ion-icon>
    Login with Facebook
  </button>
  <button ion-button block icon-left class="google" *ngIf="!user" (click)="signInWithGoogle()">
    <img class="google-logo" src="assets/images/google/btn_google_light_normal_ios.svg" />
    Sign in with Google
  </button>
  <button ion-button block icon-left class="twitter" *ngIf="!user" (click)="signInWithTwitter()">
    <ion-icon name="logo-twitter"></ion-icon>
    Login with Twitter
  </button>
  <button ion-button block outline *ngIf="user" (click)="signOut()">Logout</button>
</ion-content>