<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="auth.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <ion-button expand="block" (click)="auth.signOut()">Logout</ion-button>
  </div>
  <ng-template #showLogin>
    <p>Sign in to create your own organ arrangements and save your favorites.</p>
    <firebase-ui></firebase-ui>
  </ng-template>
</ion-content>
